<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    <%# bootstrap used for frontend presentation %>
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
    <title>OntheDL</title>
</head>
<body>
    <%# bootstrap used for frontend presentation / pad each entry %>
    <div class="container"> 

        <h1 class="mb-4">OntheDLreviews (movies/music/games/books)</h1>

        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>

        <%# add div to place twitter feed and ul on same row %>
        <div class="row">

            <%# incorporate twitter timeline posts %>
            <div class="col-md-6">
                <a class="twitter-timeline" data-height="300" data-width="200%"  href="https://twitter.com/OntheDLreviews?ref_src=twsrc%5Etfw"></a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <%# list of in progress reviews %>
            <div class="col-md-6">
                <h5>Coming soon reviews</h5>
                <ul>
                    <li>Tenet (2020)</li>
                    <li>Jak 2 (2003) </li>
                    <li>Hands like Houses - Ground Dweller (2012)</li>
                    <li>The Dark Tower (2004)</li>
                </ul>
            </div>

            

            
        </div>

        <a href="/reviews/new" class="btn btn-success">New Review</a>

        


        <% reviews.forEach(review => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= review.title %></h4>
                    <div class="d-inline">
                        <img src="<%= review.artwork %>" width="100" height="100">
                    </div>
                    <div class="card-subtitle text-muted mb-2">
                        <%= review.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2">
                        <%= review.description %>
                    </div>
                    <a href="reviews/<%= review.slug %>"
                    class="btn btn-primary">Read More</a>
                    <a href="reviews/edit/<%= review.id %>"
                    class="btn btn-info">Edit</a>
                    <form action="/reviews/<%= review.id %>?_method=DELETE"
                    method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger">Delete</button>
                
                </form>
                </div> 
            </div>
        <% }) %>

    </div>  
</body>
</html>