<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
    crossorigin="anonymous">
    <title>OntheDL</title>
</head>
<body>
    <div class="container">
        <h1 class="mb-1"><%= review.title %></h1>
        <div class="text-muted mb-2">
            <%= review.createdAt.toLocaleDateString() %>
        </div>
        <a href="/" class="btn btn-secondary">All Reviews</a>
        <a href="/reviews/edit/<%= review.id %>" class="btn btn-info">Edit</a>
        <div>
        <img src="<%= review.artwork %>" width="250" height="250">
        </div>
        <div>
        <%- review.sanitizedHtml %>
        </div>
    </div>
</body>
</html>